= form_for(@strawberry) do |f|
  - if @strawberry.errors.any?
    #error_explanation
      %h2
        = pluralize(@strawberry.errors.count, "error")
        prohibited this strawberry from being saved:
      %ul
        - @strawberry.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit
