<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @strawberry.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @strawberry.body %>
</p>

<%= link_to 'Edit', edit_strawberry_path(@strawberry) %> |
<%= link_to 'Back', strawberries_path %>
